.headerContainer {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0pc 30px;
  background-color: rgb(244, 244, 244);
}
.appName {
  display: flex;
  font-size: 70px;
  justify-content: center;
  align-items: center;
}
.appName > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.open{
  font-size: 25px;
  letter-spacing: 2px;
  color: grey;
}
.logo{
  font-size: 100px;
  color: red;
  padding-right: 30px;
}
.appTitle{
  letter-spacing: 2px;
}